*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    width: 800px;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card{
    width: 30%;
    height: 400px;
    background-color: blue;
    border: 3px solid white;
}

@media(max-width:730px){
    .card{
        width: 50%;
        background-color: burlywood;
    }
}

@media(max-width:500px){
    .card{
        width: 100%;
        background-color: blueviolet;
    }
}